 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/WhatsAppImage2023-02-13at6.31.25PM.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 886px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: bold;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 556px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: bold;
  width: 533px;
  margin: 37px auto 58px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 730px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 16.96% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 419px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 243px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 350px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 40px;
}

.u-section-2 .u-list-1 {
  width: 626px;
  grid-template-rows: auto auto auto;
  margin: 40px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1736px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 338px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1736px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 30px 128px 0 43px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  font-family: Montserrat;
  font-weight: normal;
  line-height: 1.4;
  margin: 40px 77px 0 43px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  margin: 77px 128px 0 43px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  font-style: italic;
  font-family: Montserrat;
  font-weight: normal;
  margin: 30px 15px 0 43px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  margin: 63px 128px 0 43px;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  font-style: italic;
  font-family: Montserrat;
  font-weight: normal;
  margin: 43px 195px 0 43px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.8;
  background-image: none;
  margin: -1668px calc(((100% - 1140px) / 2) + 407px) 0 calc(((100% - 1140px) / 2) + -198px);
}

.u-section-3 .u-image-1 {
  height: 284px;
  background-image: url("images/claudia.jpeg");
  background-position: 50% 50%;
  width: 284px;
  margin: 122px auto 0 calc(((100% - 1140px) / 2) + -250px);
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  font-style: italic;
  font-family: Montserrat;
  font-weight: normal;
  line-height: 1.4;
  margin: -208px calc(((100% - 1140px) / 2) + 353px) 0 calc(((100% - 1140px) / 2) + 34px);
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-9 {
  font-size: 2.25rem;
  margin: -259px calc(((100% - 1140px) / 2) + 547px) 0 calc(((100% - 1140px) / 2) + 202px);
}

.u-section-3 .u-image-2 {
  height: auto;
  background-image: url("images/WhatsAppImage2023-02-13at6.33.28PM.jpeg");
  background-position: 50% 50%;
  width: 439px;
  margin: 545px auto 0 calc(((100% - 1140px) / 2) + 73px);
}

.u-section-3 .u-image-3 {
  height: 294px;
  background-image: url("images/IMG_0319.jpg");
  background-position: 50% 50%;
  width: 294px;
  margin: -132px calc(((100% - 1140px) / 2) + 400px) 0 auto;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  font-style: italic;
  font-family: Montserrat;
  font-weight: normal;
  line-height: 1.4;
  margin: -211px calc(((100% - 1140px) / 2) + 734px) 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-11 {
  font-size: 2.25rem;
  margin: -226px calc(((100% - 1140px) / 2) + 840px) 0 calc(((100% - 1140px) / 2) + -130px);
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  font-style: italic;
  font-family: Montserrat;
  font-weight: normal;
  line-height: 1.4;
  margin: 306px calc(((100% - 1140px) / 2) + 388px) 60px calc(((100% - 1140px) / 2) + -167px);
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1734px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 338px);
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 307px);
    margin-left: calc(((100% - 940px) / 2) + -198px);
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -250px);
  }

  .u-section-3 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 187px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 447px);
    margin-left: calc(((100% - 940px) / 2) + 102px);
  }

  .u-section-3 .u-image-2 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2) + 73px);
  }

  .u-section-3 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + 400px);
  }

  .u-section-3 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 534px);
  }

  .u-section-3 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2) + 740px);
    margin-left: calc(((100% - 940px) / 2) + -130px);
  }

  .u-section-3 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2) + 288px);
    margin-left: calc(((100% - 940px) / 2) + -167px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 3803px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1732px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + -35px);
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-3 .u-image-1 {
    margin-top: 93px;
    margin-left: calc(((100% - 720px) / 2) + 201px);
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 8px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-9 {
    width: 391px;
    margin-top: -586px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 683px;
    margin-left: calc(((100% - 720px) / 2) + 73px);
  }

  .u-section-3 .u-image-3 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    width: 602px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-11 {
    width: 348px;
    margin-top: -565px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 631px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 4250px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 54px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 43px;
    margin-right: 3px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 54px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: -26px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 54px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: -26px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-top: 101px;
    margin-left: calc(((100% - 540px) / 2) + 114px);
  }

  .u-section-3 .u-text-8 {
    margin-top: 30px;
    margin-right: calc(((100% - 540px) / 2) + 7px);
    margin-left: calc(((100% - 540px) / 2) + -21px);
  }

  .u-section-3 .u-text-9 {
    margin-top: -707px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 774px;
    margin-left: calc(((100% - 540px) / 2) + 73px);
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -563px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 643px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 5306px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1775px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 77px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 237px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 23px;
    margin-right: 15px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 73px;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 40px;
    margin-right: 195px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-7 {
    width: 340px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 150px;
    margin-left: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 16px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-9 {
    width: 340px;
    margin-top: -828px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 895px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-3 {
    margin-top: 177px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 60px;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: -744px;
    margin-right: calc(((100% - 340px) / 2) + -11px);
    margin-left: calc(((100% - 340px) / 2) + 12px);
  }

  .u-section-3 .u-text-12 {
    width: 340px;
    margin-top: 793px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 80px;
}

.u-section-4 .u-list-1 {
  width: 626px;
  grid-template-rows: auto auto auto;
  margin: 40px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-4 .u-text-1 {
  width: 417px;
  margin: -9px auto 27px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }
}